<!DOCTYPE html>
<html lang="ms">

<head>
	<meta name="description" content="Utarakan sebarang pertanyaan tentang kesihatan kepada kami. Doktor-doktor kami yang bertauliah dan berpengalaman sedia menjawab segala persoalan anda.">
	<meta name="keywords" content="Teleperubatan, Panggilan Video, Panggilan Telefon, Farmasi Dalam Talian , Tanya Doktor, Perubatan Dalam Talian">
	<title>AXA AFFIN Life | DoctorOnCall</title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80312661-1"></script>
	<script>
		function gtag() {
			dataLayer.push(arguments)
		}
		window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-80312661-1")

	</script>
	<meta charset="utf-8">
	<meta name="active-menu" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
	<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="/images/favicon.ico" rel="icon" type="image/x-icon">
	<link rel="stylesheet" href="stylesheets/style.css">
<!--	<link rel="stylesheet" href="stylesheets/20191106-style.min.css">-->
	<link rel="preconnect" href="https://www.googletagservices.com">
	<link rel="preconnect" href="https://www.google.com">
	<meta name="keywords" content="Teleperubatan, Panggilan Video, Panggilan Telefon, Farmasi Dalam Talian , Tanya Doktor, Perubatan Dalam Talian">
	<meta name="description" content="Utarakan sebarang pertanyaan tentang kesihatan kepada kami. Doktor-doktor kami yang bertauliah dan berpengalaman sedia menjawab segala persoalan anda.">
	<meta name="author" content="DoctorOnCall">
	<meta property="og:site_name" content="DoctorOnCall">
	<meta property="og:title" content="Farmasi Online Malaysia | Beli Ubat, Tanya Doktor Online">
	<meta property="og:description" content="Utarakan sebarang pertanyaan tentang kesihatan kepada kami. Doktor-doktor kami yang bertauliah dan berpengalaman sedia menjawab segala persoalan anda.">
	<meta property="og:image" itemprop="image" content="images/doctoroncall-og-image.png">
	<meta property="og:url" content="https://www.doctoroncall.com.my/axa">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:alt" content="Farmasi Online Malaysia | Beli Ubat, Tanya Doktor Online">
</head>

<body id="body">
	<style>
		.preheader-bg {
			background: #3c3c3c
		}

		.preheader {
			background: #3c3c3c;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;
			height: 34px
		}

		.preheader a {
			color: #fff;
			font-family: "Open Sans", Helvetica, sans-serif;
			font-size: 14px
		}

		.preheader-right a {
			align-items: center;
			margin: auto 10px
		}

		.preheader-right a svg {
			height: 12px;
			width: auto
		}

		@media (max-width:579px) {
			.preheader-mail {
				display: none
			}

			.preheader-right {
				text-align: right;
				margin-left: auto
			}
		}

	</style>
	<div class="container-fluid preheader-bg">
		<div class="container preheader"><a href="mailto:contact@doctoroncall.com.my" class="preheader-mail">contact@doctoroncall.com.my</a>
			<div class="preheader-right"><a href="tel:+60384082000">+603 8408 2000 </a><a href="index-en.html">English <svg  width="1200" height="600" viewBox="0 0 13440 6720" fill="none">
						<g transform="scale(480)">
							<path fill="#fff" d="m0 0h28v14H0z" />
							<path stroke="#c00" d="m1 .5h27m0 2H1m0 2h27m0 2H1" />
							<path fill="#006" d="m0 0h14v8.5H0z" />
							<path stroke="#c00" d="m0 8.5h28m0 2H0m0 2h28" />
						</g>
						<path fill="#fc0" d="m4200 720 107 732 414-613-222 706 639-373-506 540 738-59-690 267 690 267-738-59 506 540-639-373 222 706-414-613-107 732-107-732-414 613 222-706-639 373 506-540-738 59 690-267-690-267 738 59-506-540 639 373-222-706 414 613zm-600 30a1280 1280 0 1 0 0 2340 1440 1440 0 1 1 0-2340z" />
					</svg></a></div>
		</div>
	</div>
	<header class="container-fluid">
		<div class="container header"><a href="https://www.doctoroncall.com.my" class="doc-header-logo"><img src="images/AXA-vector-logo.png" width="auto" height="60"> </a><input class="header-menu-btn" type="checkbox" id="menu-btn"><label class="header-menu-icon" for="menu-btn"><span class="navicon"></span></label>
			<div class="header-menu">
				<div class="header-menu-div"><a class="header-link" href="#services">Perkhidmatan Kesihatan</a></div>
				<div class="header-menu-div"><a class="header-link" href="#medicines">Ubat Popular</a></div>
				<div class="header-menu-div"><a class="header-link" href="#conditions">Masalah Kesihatan</a></div>
				<div class="header-menu-div"><a class="header-link" href="#faq">FAQ</a></div>
				<div class="header-menu-div mobile-only"><a class="header-link" href="https://www.jotform.com/form/92928259895479">Daftar</a></div>
				<div class="header-menu-div-signup"><a id="header-login-signup" class="button-login-signup desktop-only" href="https://www.jotform.com/form/92928259895479">Daftar</a></div>
			</div>
		</div>
	</header>
	<div class="container-fluid intro-bg">
		<div class="row row-topic-mobile">
			<div class="col-lg-5 intro-blue">
				<div class="intro-textarea">
					<h1 class="intro-title">Manfaat Affin Flex Protector+ dan Wealth Protect Assure</h1>
					<p class="intro-desc">Sebagai pelanggan Affin Flex Protector+ dan Wealth Protect Assure , Kini anda boleh nikmati perkhidmatan kesihatan ini secara PERCUMA</p>
				</div>
			</div>
			<div class="col-lg-7 intro-img"></div>
		</div>
	</div>
	<div class="container login-bg">
		<div class="row">
			<div class="col-lg-7">
				<div class="login-form">
					<p class="login-title">Berunding dengan doktor kami</p>
					<form class="form-wrapper" ng-submit="signInUser()">
						<p><label>Emel / nombor Telefon</label></p><input type="text" name="uname" required placeholder="user@domain.com / 6012 345 6789" ng-model="user.emailOrMobile">
						<p><label>Kata Laluan</label></p><input type="password" name="pswd" required ng-model="user.password"><label><a href="/patient#/forgotPassword/" class="login-forget">Lupa Kata Laluan?</a></label><label class="Checkboxes-container">Ya, saya sudah baca dan bersetuju dengan <a href="/termsOfService">Terma &amp; Syarat Privasi </a>dan <a href="/privacyPolicy">Dasar Perlindungan Data Peribadi </a><input type="checkbox" checked> <span class="checkmark"></span></label><button type="submit" class="login-btn">Log Masuk Untuk “Berunding dengan doktor kami”</button> <a href="https://www.jotform.com/form/92928259895479" class="login-signup">Tiada Akaun Lagi? <b>Daftar Sini</b></a>
					</form>
				</div>
			</div>
			<div class="login-img col-lg-5">
				<div class="img-wrapper"><img loading="lazy" src="images/axa_doc_login.png" alt="Login Image AXA doctoroncall"></div>
			</div>
		</div>
	</div>
	<style>
		.col-md-4:nth-child(1) .services-box .services-img {
			background-image: url(images/DoctorOnCall_axa_services_1.png);
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 200px
		}

		.col-md-4:nth-child(2) .services-box .services-img {
			background-image: url(images/DoctorOnCall_axa_services_2.png);
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 200px
		}

		.col-md-4:nth-child(3) .services-box .services-img {
			background-image: url(images/DoctorOnCall_axa_services_3.png);
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 200px
		}

	</style>
	<div class="container" id="services">
		<h2 class="services-main-title">Perkhidmatan Kesihatan</h2>
		<div class="row row-topic-mobile">
			<div class="col-md-4 col-12">
				<div class="services-box">
					<div class="services-img"></div>
					<div class="svc-text-area">
						<p class="services-title">Rundingan Doktor</p>
						<p class="services-desc">Dapatkan rundingan doktor kami pada bila-bila masa, atau di mana jua anda berada melalui mesej, panggilan telefon atau video.</p>
					</div><a href="#">Log Masuk</a>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="services-box">
					<div class="services-img"></div>
					<div class="svc-text-area">
						<p class="services-title">E-Farmasi</p>
						<p class="services-desc">Beli ubat,suplemen kesihatan dan barang penjagaan peribadi dengan harga yang kompetitif serta dapatkan penghantaran PERCUMA ke rumah anda.</p>
					</div><a href="#">Beli Sekarang</a>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="services-box">
					<div class="services-img"></div>
					<div class="svc-text-area">
						<p class="services-title">Atur Temu Janji</p>
						<p class="services-desc">Pilihan atur temu janji dengan lebih 1000 doktor pakar dari rangkaian hospital kami.</p>
					</div><a href="#">Atur Temu Janji</a>
				</div>
			</div>
		</div>
	</div>
	<style>
		.ads-box img {
			width: 100%;
			height: auto
		}

	</style>
	<div class="container ads-block">
		<div class="ads-box"><img src="images/AXA_DoctorOnCall_Ads.png" alt="Grab voucher DOC | AXA Affin" loading="lazy"></div>
	</div>
	<div class="container" id="medicines">
		<h2 class="meds-main-title">Ubat Popular</h2>
		<h3 class="meds-sub-title">Buat pembelian produk kesihatan daripada E-Farmasi DoctorOnCall</h3>
		<div class="row">
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/en/crestor" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/en/crestor"><img src="images/med-1.png" alt="DOC online pharmacy medications1" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Crestor 10mg Tablet</div>
						<div class="med-desc">Strip of 14 Tablets x2</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/en/caltrate-600-d" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/en/caltrate-600-d"><img src="images/med-2.png" alt="DOC online pharmacy medications2" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Caltrate 600+D Tablet</div>
						<div class="med-desc">Bottle of 100 tablets</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/en/berocca-effervescent-15-tabs" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/en/berocca-effervescent-15-tabs"><img src="images/med-3.png" alt="DOC online pharmacy medications3" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Berocca Effervescent Tablet</div>
						<div class="med-desc">15 Tablets x 2 Bottles</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/en/norvasc-5mg" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/en/norvasc-5mg"><img src="images/med-4.png" alt="DOC online pharmacy medications4" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Norvasc 5mg Tablet</div>
						<div class="med-desc">Strip of 10 tablets</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/concor-2-5mg-5mg-film-film-coated-tab" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/concor-2-5mg-5mg-film-film-coated-tab"><img src="images/med-5.png" alt="DOC online pharmacy medications5" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Concor 2.5mg Tablet</div>
						<div class="med-desc">Strip of 10 tablets x3</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/flavettes-efferverscent-glow-30s" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/flavettes-efferverscent-glow-30s"><img src="images/med-6.png" alt="DOC online pharmacy medications6" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Flavettes Effervescent Glow Tablet</div>
						<div class="med-desc">Tube of 15 tablets x2</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/glucophage-750mg-xr-tablet" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/glucophage-750mg-xr-tablet"><img src="images/med-7.png" alt="DOC online pharmacy medications7" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Flavettes Effervescent Glow Tablet</div>
						<div class="med-desc">Strip of 15 tablets</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-6">
				<div class="med-box"><a href="/medicine/nutrigo-coq10-300mg-plus" class="med-small-btn"><img src="images/icons8-shopping-bag-100.png" alt="shop-now-axa-doc" loading="lazy"></a>
					<div class="med-img"><a href="/medicine/nutrigo-coq10-300mg-plus"><img src="images/med-8.png" alt="DOC online pharmacy medications8" loading="lazy"></a></div>
					<div class="med-textarea">
						<div class="med-title">Nutrigo Coq10 300mg Plus Tablet</div>
						<div class="med-desc">Bottle of 30 capsules</div>
					</div>
				</div>
			</div>
		</div><a href="/medicine" class="med-btn">Lihat Semua</a>
	</div>
	<div class="container-fluid symp-widebg">
		<div class="container" id="conditions">
			<h2 class="symp-main-title">Masalah Kesihatan</h2>
			<h3 class="symp-sub-title">Berikut adalah antara masalah kesihatan yang boleh kami bantu</h3>
			<div class="row">
				<div class="col-md-3 col-12">
					<div class="symp-box">
						<div class="symp-img"><img src="images/conditions-axa-doctoroncall-1.png" alt="conditions AXA DoctorOnCall-1" loading="lazy"></div>
						<div class="symp-textarea">
							<div class="symp-title">Cirit-Birit</div>
							<div class="symp-desc">Bercakap dengan doktor kami untuk nasihat dan langkah berjaga-jaga untuk kekal sihat dan hidrat.</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="symp-box">
						<div class="symp-img"><img src="images/conditions-axa-doctoroncall-2.png" alt="conditions AXA DoctorOnCall-2" loading="lazy"></div>
						<div class="symp-textarea">
							<div class="symp-title">Batuk dan Selsema</div>
							<div class="symp-desc">Berehat di rumah dan biar kami hantar ubat ke rumah anda. Anda bukan dalam keadaan untuk memandu!</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="symp-box">
						<div class="symp-img"><img src="images/conditions-axa-doctoroncall-3.png" alt="conditions AXA DoctorOnCall-3" loading="lazy"></div>
						<div class="symp-textarea">
							<div class="symp-title">Masalah Kulit</div>
							<div class="symp-desc">Masalah lazim yang kami terima adalah Ekzema, Jerawat dan Kudis</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="symp-box">
						<div class="symp-img"><img src="images/conditions-axa-doctoroncall-4.png" alt="conditions AXA DoctorOnCall-4" loading="lazy"></div>
						<div class="symp-textarea">
							<div class="symp-title">Kesihatan Seksual</div>
							<div class="symp-desc">Bercakap dengan doktor kami mengenai HIV/AIDS, Klamidia dan Gonorea</div>
						</div>
					</div>
				</div>
			</div><a href="/penyakit-a-z" class="symp-btn">Ketahui Lebih Lanjut</a>
		</div>
	</div>
	<div class="container" id="faq">
		<div class="row">
			<div class="col-lg-8 col-12 faq-box">
				<h2>Soalan-soalan lazim</h2>
				<ol>
					<li>
						<p class="faq-question">Adakah saya perlu membayar untuk rundingan DoctorOnCall?</p>
						<p class="faq-answer">Sebagai pelanggan Wealth Protect Assure atau AFFIN Flex Protector+, rundingan anda adalah PERCUMA untuk 12 kali setahun. Tiada pembayaran diperlukan.</p>
					</li>
					<li>
						<p class="faq-question">Adakah saya perlu membayar untuk penghantaran ubat oleh DoctorOnCall?</p>
						<p class="faq-answer">Sebagai pelanggan Wealth Protect Assure atau AFFIN Flex Protector+, penghantaran ubat anda adalah PERCUMA untuk 12 kali setahun. Tiada pembayaran diperlukan.</p>
					</li>
					<li>
						<p class="faq-question">Apakah waktu operasi DoctorOnCall?</p>
						<p class="faq-answer">DoctorOnCall beroperasi 7 hari seminggu, dari pukul 8 pagi hingga 11.59 malam (termasuk cuti umum)</p>
					</li>
					<li>
						<p class="faq-question">Saya baru membuat pembelian ubat dari E-Farmasi DoctorOnCall. Bilakah boleh saya menerimanya?</p>
						<p class="faq-answer">Bergantung kepada pilihan penghantaran dan ketersediaan produk, anda akan menerima pesanan anda dalam 1 - 3 hari.</p>
					</li>
					<li>
						<p class="faq-question">Apakah perlu saya buat jika saya terlupa kata laluan?</p>
						<p class="faq-answer">Anda boleh layari <a href="https://www.doctoroncall.com.my/patient#/signin">sini</a> dan klik pada ‘Lupa Kata Laluan’ untuk menukar kata laluan yang baru.</p>
					</li>
					<li>
						<p class="faq-question">Bagaimana jika saya mempunyai soalan lanjut?</p>
						<p class="faq-answer">Anda boleh hubungi kami di <a href="+60384082000">+603-8408 2000</a> atau <a href="mailto:contact@DoctorOnCall.com.my">contact@DoctorOnCall.com.my</a></p>
					</li>
				</ol>
			</div>
			<div class="col-lg-4 col-12 faq-img"><img src="images/doc_video_call_doctoroncall-axa.png" loading="lazy" alt="DOC video call DoctorOnCall AXA"></div>
		</div>
	</div>
	<div class="container-fluid footer-bg">
		<div class="container footer-container"><img src="images/AXA-vector-logo.png" loading="lazy">
			<div class="footer-top-right">
				<div class="footer-top-r1"><a href="#services">Perkhidmatan Kesihatan</a> <a href="#conditions">Masalah Kesihatan</a> <a href="#medicines">Masalah Kesihatan</a> <a href="#faq">FAQ</a></div>
				<div class="footer-top-r2"><a href="tel:+60384082000">+603 8408 2000 </a><a href="index-en.html">English <svg viewBox="0 0 13440 6720" fill="none">
							<g transform="scale(480)">
								<path fill="#fff" d="m0 0h28v14H0z" />
								<path stroke="#c00" d="m1 .5h27m0 2H1m0 2h27m0 2H1" />
								<path fill="#006" d="m0 0h14v8.5H0z" />
								<path stroke="#c00" d="m0 8.5h28m0 2H0m0 2h28" />
							</g>
							<path fill="#fc0" d="m4200 720 107 732 414-613-222 706 639-373-506 540 738-59-690 267 690 267-738-59 506 540-639-373 222 706-414-613-107 732-107-732-414 613 222-706-639 373 506-540-738 59 690-267-690-267 738 59-506-540 639 373-222-706 414 613zm-600 30a1280 1280 0 1 0 0 2340 1440 1440 0 1 1 0-2340z" />
						</svg></a></div>
			</div>
			<div class="bottom">
				<p>@DoctorOnCallMY</p>
				<div class="social-media"><a href="https://www.facebook.com/doctoroncallMY/"><img src="images/DOC_SocialMedia_fb.png" loading="lazy" alt="DOC_SocialMedia_facebook"></a>
				<a href="https://www.instagram.com/doctoroncallmy/"><img src="images/DOC_SocialMedia_ig.png" loading="lazy" alt="DOC_SocialMedia_instagram"></a>
				<a href="https://twitter.com/doctoroncallmy"><img src="images/DOC_SocialMedia_tw.png" loading="lazy" alt="DOC_SocialMedia_twitter"></a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
