/* === Table of Contents ===*/
/*
0. === Global ====
1. === Header ===
2. === FAQs ===
3. === Health Services ===
4. === Intro ===
5. === Login Box ===
6. === Medicines ===
7. === Symptoms ===
8. === Footer ===

*/
/*
* === Global ===
*/

h2{
  font-size: 24px;
  line-height: 33px;
  color:#3c3c3c;
}
h3{
  font-size: 14px;
  line-height: 23px;
  color:#3c3c3c;
  font-weight: 500;
  margin-top:-5px;
 }
.no-hover:hover{
  text-decoration: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}


html,body{
  font-family: 'Open Sans', Helvetica, sans-serif;;
  font-size: 14px;
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
}
@media(max-width: 576px) {
  .row-topic-mobile {
    display: block;
  }
}
.hidden{
  display:none;
}
html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F500;
}

html::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #CCC;
}
.mobile-only{
  display:none;
}
.dekstop-only{
  display:block;
}
@media (max-width: 576px) {
  .mobile-only{
    display:block;
  }
  .desktop-only{
    display:none;
  }
}
/*end global*/
/*
* === Header ===
*/
.cls-1{fill:#263575;}.cls-1,.cls-2,.cls-3{fill-rule:evenodd;}.cls-2,.cls-4{fill:#4099d4;}.cls-3{fill:#fff;}

.doc-header-logo img
{
    height: 75px;
    margin: 5px 0 0 15px;
    padding: 10px;
}
.header-user-link{
  display: inline-block;
}
@media(max-width:960px){
  .header-user-link{
    display: none;
  }
}

.header-user-link svg{
  cursor: pointer;
  fill: #aaa;
  margin: 0 15px;
  position: relative;
  top: 13px;
  width: 45px;
  display: none;
  visibility: hidden;
}
.top-lang-link{
  display: none;
}
@media (max-width:576px){
    .doc-header-logo img
    {
      height: 50px;
      margin-top: 0;
      padding: 10px 0 0 0;
    }
}


.header {
  background-color: #fff;
  /* box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1); */
  padding-left:0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid #00000013;
  
  transition: all 0.34s ease-out;
}

.header ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-link {
  color: #333;
  display: inline-block;
  margin: 0 10px;
  padding: 35px 0 28px 0;
  text-decoration: none;
  transition: all 0.34s ease-out;
}

.header-link-lang{
  color: #333;
  display:none;
  float:right;
  margin-top: 15px;
  padding:0 10px;
  text-decoration: none;
}

.header a:hover{
  color: #103184;
  text-decoration: none;
}

.header-logo {
  height: 75px;
  margin: 5px 0 0 15px;
  padding: 10px;
  width: auto;
}

@media (max-width: 960px) {
  .header-link {
    color: #333;
    padding: 20px 0 20px 20px;
    text-decoration: none;
  }
  .header-link-lang{
    display:inline-block;
  }
  .header-more-content{
    border-top:1px solid #ddd;
  }
  .header-more-content .header-link{
    display:none;
  }
  .header-logo {
    height: 60px;
    margin-top: 0;
    padding: 10px;
    width: auto;
  }
}

@media(max-width:576px){
  .header-link-lang{
    margin-top:3px;
  }
}

/* 2.1 header menu */

.header .header-menu {
  float: right;
}

.header-menu-div,.header-menu-div-signup{
  border-bottom:3px solid transparent;
  display: inline-block;
}


@media (max-width: 960px) {
  .header .header-menu {
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
    height:0;
    overflow: hidden;
    position: absolute;
    width:100%;
    z-index: 99999;
  }
  .header-menu-div,.header-menu-div-signup{
    width:100%;
  }
}

/* 2.2 header menu icon */

.header .header-menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

@media (min-width: 960px) {
  .header .header-menu-icon {
    display: none;
  }
}

@media (min-width: 576px) {
  .header .header-menu-icon {
    margin-top: 15px;
  }
}

@media (max-width:960px) {
  .header .header-menu-icon {
    display: block;
  }
}

.header .header-menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .header-menu-icon .navicon:before,
.header .header-menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .header-menu-icon .navicon:before {
  top: 5px;
}

.header .header-menu-icon .navicon:after {
  top: -5px;
}

.header-more-icon {
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
  width: 15px;
}


/* 2.3 header button */

.header .header-menu-btn {
  display: none;
}

.header .header-menu-btn:checked~.header-menu {
  height:auto;
  transition: all 10s;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon {
  background: transparent;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:before,
.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* .header-menu-div-signup   */
.button-login-signup{
  background-color: #FAD651;
  border: 4px;
  border-radius: 4px;
  color: #333;
  margin-top: 19px;
  padding: 15px 28px;
  position: relative;
  text-decoration: none;
  text-align: center;
  top: -2px;  
  transition: all 0.34s ease-out;
}
.button-login-signup:hover{
  background-color:#F0C00F ;
}

.icon-userlogin svg {
  width: 40px;
  margin-right: 24px;
}

.icon-userlogin img {
  height: 40px;
  width: 40px;
  margin-right: 24px;
}

/* 2.4 header dropdown */

@media (min-width: 960px) {
  .header-menu-div:hover {
    border-bottom: 3px solid #103184;
  }
  .header-menu-div:hover a,.header-menu-div:hover a svg{
    color: #103184;
    fill: #103184;
  }
}

.header-dropdown-content {
  background-color: #fff;
  height:0;
  min-width: 160px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}

.header-more-content .header-dropdown-content a {
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: left;
}


@media (min-width: 960px) {
.header-more-content:hover .header-dropdown-content,.header-dropdown-content:hover{
  height:auto;
  border:1px solid #eee;
}
.header-more-content .header-dropdown-content a:hover {
  color:#103184;
}
}

@media (max-width: 960px) {
  .header-more-content,.header-dropdown-content{
      height:calc(58px * 9); /*TODO Make this auto*/
      width:100%;
  }
  .header-dropdown-content a {
      margin-left:10px;
  }

}

/* 2.5 media queries for content in hamburger for mobile */

@media (min-width: 960px) {
  .header li {
    float: left;
  }
}

/* 2.6 media queries for mobile and tab - 768px */

@media (max-width: 960px) {
  .icon-userlogin {
    align-items: center;
    border-bottom:1px solid #ddd;
    display: inline-flex;
    padding:20px 30px;
    width:100%;
  }
  .icon-userlogin a{
    color:#000;
    text-decoration: none;
  }

  .header-user-link-mobile a{
    display: flex;
    align-items: center;
  }
}

/* media queries for language and sign up button on mobile */
@media(max-width: 576px) {
  .header-menu-div.desktop-only, .header-menu-div-signup {
    display: none;
  }
}
/* end of header */


/*
* === FAQs ===
*/
#faq{
  font-family: "Open Sans", Helvetica, sans-serif;
  padding:20px 0; 
  }
.faq-answer{
  color:#333;
  margin-bottom:30px;  
}
.faq-box{
  display:block;
}
.faq-box ol{
  color:#103184;
  font-size:14px;  
  list-style-position: outside;
  /* list-style: none;   */
  padding: 5px 20px;
  vertical-align:center;  
}
.faq-box ol li {
  /* background-image: url(/images/faq-qmark-style.svg);
  background-position: top 2px left 0px;
  background-repeat: no-repeat;
  background-size: 22px 18px; */
  padding-left: 14px
}
.faq-img img{
  height: 650px;
  width: auto;
}
.faq-question{
  font-weight: 600;
  color:#103184;
}
@media (max-width:976px) {
  .faq-img img{
    display: none;
  }  
}
@media (max-width:547px){
  .faq-img img{
    display: none;
  }
  #faq{
    padding:20px;    
  }
}
/* end of FAQ */


/*
* === Health Services ===
*/

#services{
  margin: 20px auto;
}
.services-box{
 text-align: center;
 display: block;
}
.services-box a{
 display: block;
 width: 200px;
 background: #FAD651;
 padding: 10px 0;
 text-align: center;
 margin: 0 auto;
 color:#3c3c3c;
 border-radius: 5px;
 transition: all 0.35s ease-out;
}  
.services-box a:hover{
 background: #F0C00F;
}
.svc-text-area{
 font-family:'Open Sans', Helvetica, sans-serif;
 color:#3c3c3c;
 padding: 15px;
 text-align: center;
 min-height: 184px;
}
.svc-text-area .services-desc{
 font-size:14px;
 line-height: 23px;
}
.svc-text-area .services-title{
 font-size:16px;
 font-weight: 600;
 line-height: 25px;
}
.services-main-title{
 margin:40px 0;
 font-family: 'Open Sans',Helvetica, sans-serif;
}

@media (max-width:576px){
<% for (var i =2; i<=3; i++){ %>
.col-md-4:nth-child(<%=i%>) .services-box .services-img{
 margin-top:40px;
}
<%}%>
}
/* end of health services */


/*
* === Intro ===
*/
.intro-blue{
  background: #103184;
}

.intro-desc{
  font-size: 16px;
  line-height: 26px;
  width: 70%;
}
.intro-img{
  background-image: url("../images/AXA_DoctorOnCall_Desktop.jpg");
  background-position: center center;
  background-size: cover;
  margin:0;
  min-height: 750px;
  padding:0;
}
.intro-textarea{
  color: #fff;
  font-family: 'Open Sans',Helvetica, sans-serif;
  margin-right: -112px;
  padding: 150px 0 0 150px;
  position: absolute;
  z-index: 999;
}
.intro-title{
  font-size:40px;
  font-weight: 700;
  line-height: 59px;
}


@media (max-width:992px){
  .intro-desc{
    font-size:14px;
    line-height: 23px;
    width: 100%;
  }
  .intro-img{
    background-position: center 35%; 
    min-height: 293px;  
  }
  .intro-textarea{
    background: #103184;
    margin: 0;
    padding: 20px;
    position: unset;
  }
  .intro-title{
    font-size:25px;
    line-height:33px ;
  }
}
/*end intro*/

/*
* === Login Box ===
*/
.form-wrapper {
	font-size: 14px;
}
.form-wrapper input[type=text],
.form-wrapper input[type=password] {
	border: 1px solid #eee;
	box-sizing: border-box;
	border-radius: 5px;
	display: inline-block;
	margin: 0;
	padding: 15px 15px;
	width: 100%;
}

/*
*---checkbox---
*/

/* The container */
.Checkboxes-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 15px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.Checkboxes-container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  background-color: #616161f1;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}
/* On mouse-over, add a grey background color */
.Checkboxes-container:hover input ~ .checkmark {
  background-color: #666;
}
/* When the checkbox is checked, add a blue background */
.Checkboxes-container input:checked ~ .checkmark {
  background-color: #FAD651;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
  position: absolute;  
}
/* Show the checkmark when checked */
.Checkboxes-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.Checkboxes-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*
---end checkbox---
*/
.login-bg{
  background: #EAF0FC;  
  margin-top: -130px;
  position: relative;
}
.login-btn {
  background-color: #FAD651;
  border-radius: 5px;
  border:none;  
  cursor: pointer;
  font-family: 'Open Sans',Helvetica, sans-serif;
  font-size:16px;
  margin: 8px 0;
  padding: 14px 20px;
  transition: all 0.4s ease-in;
  width: 100%;
  -webkit-transition: all 0.4s ease-in; /* For Safari 3.1 to 6.0 */
}
.login-btn:hover{
  background-color: #F0C00F;
}
.login-form {
	color: #333;
	font-family: 'Open Sans',Helvetica, sans-serif;
	margin-left: auto;
	padding: 20px;
}
.login-form .login-forget {
  color: #4066B3;
  cursor: pointer;
  display: block;
  font-size: 12px;
  margin: 15px;
  text-align: right;
}
.login-form .login-title {
	font-size: 24px;
	font-weight: 700;
}
.login-img img {
  display: block;
  height: auto;
  margin: auto;
  padding-top:50px;
  width: 80%;
}
.login-signup{
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
}
.login-wrapper {
	height: auto;
}
@media (max-width:992px) {
	.login-img img {
		display: none;
  }  
}
@media (max-width:576px){
	.login-btn {
		margin-top:0;	
  }
  .login-bg{
    position: unset;
    margin: 0;
  }
}
/*end of login box*/

/*
* === Medicines ===
*/

#medicines{
  padding:40px 5px;    
}
.med-box{
  background: #EAF0FC;
  margin: 30px 5px 0 5px;
  min-height: 270px;
  padding: 10px;
  text-align: center;
}
.med-btn{
  background: #fad651;
  border-radius: 4px;
  color: #3c3c3c;
  display: block;
  font-size: 16px;
  margin: 40px auto 20px auto;
  padding: 15px 0;
  text-align: center;
  transition: all 0.35s ease-in;
  width: 15%;
}
.med-img{
  height:auto;
  margin: 10px auto;
  width: 50%;
}
.med-img img{    
  margin-bottom: 10px;
  width: 100%;
}
.med-small-btn{
  background: #fad651;
  padding: 11px 14px;
  position: absolute;
  right: 20px;
  top: 30px;
  transition: all 0.35s ease-in-out;
}
.med-small-btn:hover,
.med-btn:hover{
  background: #F0C00F;
}
.med-small-btn img{
  height: 24px;
  width: auto;
}
.med-textarea{
  display: inline-block;
  margin-top: 24px;
  text-align: center;
}
.med-textarea .med-desc{
  color:#A2A2A2;
  font-size:14px;
  margin-top:10px;
}
.med-title{
  color:#3c3c3c;
  font-size:16px;
  font-weight: 600;
  line-height: 26px;;
}  
.meds-main-title,.meds-sub-title{    
  font-family: 'Open Sans',Helvetica, sans-serif;
}

@media (max-width:576px) {
#medicines{
  padding:20px;
}
.meds-main-title{
  font-size: 18px;
  line-height: 24px;
}
.med-sub-title{
  font-size:14px;
  line-height: 23px;
}
.med-box{
  margin:10px -9px;
  min-height: 211px;
  padding:0;
}
.med-btn{
  width: 200px;
  padding: 10px 0;
  margin:20px auto;
}
.med-small-btn{
  padding: 7px 10px;
  position: absolute;
  top: inherit;
  right: 6px;
}
.med-small-btn img {
  height: 17px;
  width: auto;
}
.med-img{
  margin-bottom:16px auto -30px auto;
}
.med-img img{
  margin:10px auto -40px auto;
}
.med-textarea{
  padding:5px;
}
.med-title{
  font-size: 14px;
}
.med-desc{
  font-size:12px;
}
}
/* end of medicines */


/*
* === symptoms ===
*/

.symp-box{
  margin-top: 20px;
  text-align: center;
}
.symp-btn{
  background:#fad651;
  border-radius:4px;
  color:#3c3c3c;
  display:block;
  font-size:16px;
  margin:40px auto 20px auto;
  padding:15px 0;
  text-align:center;
  transition: all 0.35s ease-in;
  width:17%;
}
.symp-btn:hover{
  background: #F0C00F;
}
.symp-desc{
  font-size:14px;
  margin-top:16px;
}
.symp-img{
  height:auto;
  margin:5px auto;
  width: 50%;
}  
.symp-img img{
  margin:0 auto;
  width: 60px;
}
.symp-textarea{
  color:#3c3c3c;
  display: inline-block;
  font-family: "Open Sans",Helvetica, sans-seri
}
.symp-title{
  font-size: 16px;
  font-weight: 600;
  margin-top:9px;
}
.symp-widebg{
  background: #EAF0FC;
  font-family: "Open Sans",Helvetica, sans-serif;   
  padding: 20px 0;    
}


@media (max-width:576px){
  .symp-btn{width:210px;padding:10px 0}
  .symp-desc{font-size: 14px;line-height: 26px;margin-top:16px}
  .symp-img img {width: 60px;}
  .symp-main-title{font-size: 18px;}
  .symp-sub-title{font-size: 14px;line-height: 23px;}
  .symp-title{font-size:14px}
}
/* end of symptoms */

/*
* === footer ===
*/

.bottom {
  text-align: left;
}

.bottom p,.social-media {
  display: inline-block;
  vertical-align: middle;
}

.footer-bg {
  background: #EAF0FC;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  padding: 40px 0;
}

.footer-container .bottom {
  clear: both;
  color: #333;
}

.footer-container .bottom p {
  margin-right: 10px;
}

.footer-container img {
  float: left;
  height: 60px;
  width: auto;
}

.footer-top-r1 {
  margin: 20px auto;
}

.footer-top-r2 {
  display: block;
}

.footer-top-r2 svg {
  height: 12px;
  margin-left: 10px;
}

.footer-top-right {
  float: right;
  margin: 0 5px;
  text-align: right;
}

.footer-top-right a {
  color: #333;
  margin: 0 20px;
  transition: all .4s ease-out;
}

.footer-top-right a:hover {
  border-bottom: #103184 1px solid;
  padding-bottom: 7px;
}

.logo-footer {
  float: left;
  height: 60px;
  width: auto;
}

.logo-footer,.footer-top-right {
  vertical-align: text-top;
}

.social-media a img {
  height: 24px;
  margin: 0 10px;
  position: relative;
}
@media (max-width: 576px){
    .footer-container img{
        height: auto;
        width:100px;
        margin-right: 20px;
        margin-left: auto;
        display: block;
        float: none;
    }    
    .footer-top-right a {
        display: block;
        margin:20px 
    }
    .footer-container .bottom p {
        margin-right: 20px;
        display: block;
    }
    .footer-top-r2{
        display: none;
    }
    .social-media a img {
        margin: 0 10px;
        width: auto;
        display: inline-block;
    }
    .bottom{
        text-align: right;
    }  
}
/*end of footer */

